html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    margin-top: -80px;
    margin-bottom: -25px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.form-control input-l{
    width: 240px;
}

.form-control input-s{
    width: 60px;
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.button-main {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 16px 16px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   
   }

.well > a:hover{
background: #65a9d7;
color: white;
text-decoration: none;

}
.button-main:active {
   border-top-color: #1b435e;
   background: #1b435e;
   text-decoration: none;   
  }
  
   .row{

    margin-right: 0%;
    //margin-left: 18%;
    
    padding-bottom: 10px;
  }
   
  nav.navbar-inverse.navbar-fixed-top {
		padding-top: 10px;
		min-height: 75px;
}

.navbar-brand {
 	background: url('../images/logo-cpyme.png') no-repeat;
	text-indent: -9999px;
	display: block;
	width: 188px;   
        min-height: 75px;
    
}
.navbar-nav > li > a{
    color:#337ab7 !important;
    
} 
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:focus
{
       color: #337ab7;
    background-color: #E7E7E7;
}
.navbar-default .container{
    width: auto
}
.navbar-default{
    background-color: initial;
    border:none
}
.page-header{
    margin: 10px 0 20px;
}
.progress-bar{
    color: #a94442;
}
.help-block {
    display: inline;
}
.ui-autocomplete{ height: 200px; overflow-y: scroll; overflow-x: hidden;}
